{
  "openapi": "3.0.0",
  "info": {
    "title": "MGM Asset Library API",
    "description": "REST API for the MGM Asset Library — feature complete (Parts 1 + 2 + 3 + 4). For the realtime WebSocket protocol, see WS_PROTOCOL.md.",
    "version": "1.0.0",
    "contact": { "name": "MGM Laboratory" }
  },
  "servers": [
    { "url": "https://asset-api.labmgm.org", "description": "Production" },
    { "url": "https://asset-api.staging.labmgm.org", "description": "Staging" },
    { "url": "http://localhost:4000", "description": "Local development" }
  ],
  "tags": [
    { "name": "Auth", "description": "Identity, sessions, plugin device tokens." },
    { "name": "Me", "description": "Authenticated-user profile endpoints." },
    { "name": "Users", "description": "Public user profile lookups." },
    { "name": "Categories", "description": "Asset categories (read)." },
    { "name": "Tags", "description": "Free-form tags (read + autocomplete)." },
    { "name": "Licenses", "description": "License templates (read)." },
    { "name": "Assets", "description": "Asset lifecycle: draft, publish, archive, restore, delete." },
    { "name": "Versions", "description": "Version CRUD nested under an asset." },
    { "name": "Files", "description": "S3 presigned upload pipeline." },
    { "name": "Library", "description": "Saved-library management." },
    { "name": "Downloads", "description": "Signed download URL issuance." },
    { "name": "Search", "description": "Meilisearch-backed full-text search." },
    { "name": "Comments", "description": "Threaded discussion + issues." },
    { "name": "Reports", "description": "Public report submission." },
    { "name": "AssetRequests", "description": "Asset sourcing requests." },
    { "name": "Notifications", "description": "In-app inbox." },
    { "name": "Analytics", "description": "Contributor + admin analytics." },
    { "name": "Health", "description": "Liveness + readiness probes." },
    { "name": "Admin", "description": "Admin-only operational surface (under /admin/*)." }
  ],
  "components": {
    "securitySchemes": {
      "keycloak": { "type": "http", "scheme": "bearer", "bearerFormat": "JWT" },
      "pluginToken": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Use `Authorization: PluginToken <deviceToken>` for Unity/Unreal plugin requests."
      }
    },
    "parameters": {
      "Cursor": {
        "name": "cursor", "in": "query", "schema": { "type": "string" },
        "description": "Opaque base64url cursor from a previous page."
      },
      "Limit": {
        "name": "limit", "in": "query",
        "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 24 }
      },
      "Locale": {
        "name": "locale", "in": "query",
        "schema": { "type": "string", "enum": ["en", "id"] }
      },
      "IdempotencyKey": {
        "name": "Idempotency-Key", "in": "header",
        "description": "Client-supplied retry key; the first response is cached for 24 h and replayed on retry.",
        "schema": { "type": "string" }
      }
    },
    "schemas": {
      "Problem": {
        "type": "object",
        "required": ["type", "title", "status", "instance", "code"],
        "properties": {
          "type": { "type": "string", "example": "https://asset-api.labmgm.org/errors/asset.not_found" },
          "title": { "type": "string", "example": "NotFoundDomain" },
          "status": { "type": "integer", "example": 404 },
          "detail": { "type": "string" },
          "instance": { "type": "string" },
          "code": { "type": "string", "example": "asset.not_found" },
          "fields": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "path": { "type": "string" },
                "code": { "type": "string" },
                "message": { "type": "string" }
              }
            }
          }
        }
      },
      "Avatar": {
        "type": "object",
        "required": ["initials", "bgColor", "fgColor"],
        "properties": {
          "initials": { "type": "string", "example": "ID" },
          "bgColor": { "type": "string", "enum": ["brand-blue", "brand-yellow", "brand-red", "brand-green"] },
          "fgColor": { "type": "string", "example": "ink-white" }
        }
      },
      "MeResponse": {
        "type": "object",
        "required": ["id", "email", "displayName", "locale", "isAdmin", "role", "avatar", "hasPublishedAssets", "unreadNotifications", "createdAt"],
        "properties": {
          "id": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "displayName": { "type": "string" },
          "locale": { "type": "string", "enum": ["en", "id"] },
          "isAdmin": { "type": "boolean" },
          "role": { "type": "string", "enum": ["admin", "contributor", "user"] },
          "avatar": { "$ref": "#/components/schemas/Avatar" },
          "hasPublishedAssets": { "type": "boolean" },
          "unreadNotifications": { "type": "integer" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "UpdateLocale": {
        "type": "object", "required": ["locale"],
        "properties": { "locale": { "type": "string", "enum": ["en", "id"] } }
      },
      "PluginExchange": {
        "type": "object", "required": ["keycloakAccessToken", "deviceLabel"],
        "properties": {
          "keycloakAccessToken": { "type": "string" },
          "deviceLabel": { "type": "string", "maxLength": 120 }
        }
      },
      "PluginExchangeResponse": {
        "type": "object", "required": ["deviceToken", "deviceId", "expiresAt"],
        "properties": {
          "deviceToken": { "type": "string" },
          "deviceId": { "type": "string" },
          "expiresAt": { "type": "string", "format": "date-time" }
        }
      },
      "PluginDevice": {
        "type": "object", "required": ["id", "deviceLabel", "createdAt", "expiresAt"],
        "properties": {
          "id": { "type": "string" },
          "deviceLabel": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time" },
          "lastUsedAt": { "type": "string", "format": "date-time", "nullable": true },
          "expiresAt": { "type": "string", "format": "date-time" }
        }
      },
      "UserSearchResult": {
        "type": "object",
        "properties": {
          "id": { "type": "string" }, "email": { "type": "string" },
          "displayName": { "type": "string" }, "isAdmin": { "type": "boolean" }
        }
      },
      "UserPublicProfile": {
        "type": "object",
        "properties": {
          "id": { "type": "string" }, "displayName": { "type": "string" },
          "avatar": { "$ref": "#/components/schemas/Avatar" },
          "joinedAt": { "type": "string", "format": "date-time" },
          "publishedAssetCount": { "type": "integer" },
          "email": { "type": "string", "nullable": true, "description": "Only when self or admin." }
        }
      },
      "Category": {
        "type": "object",
        "properties": {
          "id": { "type": "string" }, "slug": { "type": "string" },
          "name": { "type": "string", "description": "Resolved to the requested locale." },
          "iconKey": { "type": "string", "nullable": true },
          "sortOrder": { "type": "integer" },
          "assetCount": { "type": "integer" }
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": { "type": "string" }, "slug": { "type": "string" },
          "displayName": { "type": "string" }, "usageCount": { "type": "integer" }
        }
      },
      "LicenseSummary": {
        "type": "object",
        "properties": {
          "id": { "type": "string" }, "slug": { "type": "string" }, "name": { "type": "string" },
          "description": { "type": "string" }, "sortOrder": { "type": "integer" }
        }
      },
      "LicenseDetail": {
        "allOf": [
          { "$ref": "#/components/schemas/LicenseSummary" },
          { "type": "object", "properties": { "fullText": { "type": "string" } } }
        ]
      },
      "TipTapDoc": {
        "type": "object",
        "description": "TipTap document JSON (full schema for descriptions, Lite for comments / release notes).",
        "properties": {
          "type": { "type": "string", "example": "doc" },
          "content": { "type": "array", "items": { "type": "object" } }
        }
      },
      "AssetTranslationInput": {
        "type": "object", "required": ["locale", "shortDescription", "longDescription"],
        "properties": {
          "locale": { "type": "string", "enum": ["en", "id"] },
          "shortDescription": { "type": "string", "maxLength": 280 },
          "longDescription": { "$ref": "#/components/schemas/TipTapDoc" }
        }
      },
      "CreateAsset": {
        "type": "object", "required": ["title", "engine", "categoryId", "licenseId", "semver", "translations"],
        "properties": {
          "title": { "type": "string", "minLength": 3, "maxLength": 140 },
          "engine": { "type": "string", "enum": ["UNITY", "UNREAL", "ENGINE_AGNOSTIC"] },
          "categoryId": { "type": "string" },
          "licenseId": { "type": "string" },
          "semver": { "type": "string", "pattern": "^\\d+\\.\\d+\\.\\d+$" },
          "translations": { "type": "array", "items": { "$ref": "#/components/schemas/AssetTranslationInput" } },
          "tags": { "type": "array", "items": { "type": "string" } },
          "requiresEmptyProject": { "type": "boolean" }
        }
      },
      "UpdateAsset": {
        "type": "object",
        "properties": {
          "title": { "type": "string" },
          "categoryId": { "type": "string" },
          "licenseId": { "type": "string" },
          "translations": { "type": "array", "items": { "$ref": "#/components/schemas/AssetTranslationInput" } },
          "tags": { "type": "array", "items": { "type": "string" } },
          "requiresEmptyProject": { "type": "boolean" }
        }
      },
      "AssetSummary": {
        "type": "object",
        "properties": {
          "id": { "type": "string" }, "slug": { "type": "string" }, "title": { "type": "string" },
          "shortDescription": { "type": "string" },
          "engine": { "type": "string", "enum": ["UNITY", "UNREAL", "ENGINE_AGNOSTIC"] },
          "status": { "type": "string", "enum": ["DRAFT", "PUBLISHED", "ARCHIVED", "DELETED"] },
          "thumbnailUrl": { "type": "string", "nullable": true },
          "ownerDisplayName": { "type": "string" },
          "categoryName": { "type": "string" },
          "totalDownloads": { "type": "integer" },
          "totalSaves": { "type": "integer" },
          "updatedAt": { "type": "string", "format": "date-time" },
          "publishedAt": { "type": "string", "format": "date-time", "nullable": true }
        }
      },
      "PageInfo": {
        "type": "object",
        "properties": {
          "nextCursor": { "type": "string", "nullable": true },
          "hasMore": { "type": "boolean" }
        }
      },
      "AssetListPage": {
        "type": "object",
        "properties": {
          "items": { "type": "array", "items": { "$ref": "#/components/schemas/AssetSummary" } },
          "pageInfo": { "$ref": "#/components/schemas/PageInfo" }
        }
      },
      "AssetVersionPayload": {
        "type": "object",
        "properties": {
          "id": { "type": "string" }, "semver": { "type": "string" },
          "releaseNotes": { "type": "object" },
          "publishedAt": { "type": "string", "format": "date-time", "nullable": true },
          "isLatest": { "type": "boolean" },
          "analysisStatus": { "type": "string", "enum": ["PENDING", "ANALYZING", "READY", "FAILED"] },
          "avStatus": { "type": "string", "enum": ["PENDING", "CLEAN", "INFECTED", "ERROR"] },
          "bytesTotal": { "type": "string", "description": "bigint as string" },
          "fileCount": { "type": "integer" },
          "files": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" }, "relativePath": { "type": "string" },
                "kind": { "type": "string" }, "bytes": { "type": "string" },
                "meta": { "type": "object", "nullable": true }
              }
            }
          },
          "compatibility": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "engineVersion": { "type": "string" },
                "renderPipelines": { "type": "array", "items": { "type": "string" } },
                "targets": { "type": "array", "items": { "type": "string" } }
              }
            }
          },
          "dependencies": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": { "type": "string" },
                "version": { "type": "string", "nullable": true },
                "source": { "type": "string" }
              }
            }
          },
          "requiresEmptyProject": { "type": "boolean" }
        }
      },
      "AssetDetail": {
        "type": "object",
        "properties": {
          "id": { "type": "string" }, "slug": { "type": "string" },
          "title": { "type": "string" },
          "shortDescription": { "type": "string" },
          "longDescription": { "$ref": "#/components/schemas/TipTapDoc", "nullable": true },
          "availableLocales": { "type": "array", "items": { "type": "string", "enum": ["en", "id"] } },
          "engine": { "type": "string", "enum": ["UNITY", "UNREAL", "ENGINE_AGNOSTIC"] },
          "category": {
            "type": "object",
            "properties": { "id": { "type": "string" }, "slug": { "type": "string" }, "name": { "type": "string" } }
          },
          "license": {
            "type": "object",
            "properties": { "id": { "type": "string" }, "slug": { "type": "string" }, "name": { "type": "string" } }
          },
          "tags": {
            "type": "array",
            "items": { "type": "object", "properties": { "id": { "type": "string" }, "slug": { "type": "string" }, "displayName": { "type": "string" } } }
          },
          "thumbnail": {
            "type": "object",
            "properties": { "key": { "type": "string", "nullable": true }, "url": { "type": "string", "nullable": true } }
          },
          "thumbnailAutoGenerated": {
            "type": "object", "nullable": true,
            "properties": { "key": { "type": "string" }, "url": { "type": "string" } }
          },
          "owner": {
            "type": "object",
            "properties": {
              "id": { "type": "string" }, "displayName": { "type": "string" },
              "avatar": { "$ref": "#/components/schemas/Avatar" }
            }
          },
          "versions": { "type": "array", "items": { "$ref": "#/components/schemas/AssetVersionPayload" } },
          "totalDownloads": { "type": "integer" }, "totalSaves": { "type": "integer" },
          "status": { "type": "string", "enum": ["DRAFT", "PUBLISHED", "ARCHIVED", "DELETED"] },
          "publishedAt": { "type": "string", "format": "date-time", "nullable": true },
          "updatedAt": { "type": "string", "format": "date-time" },
          "createdAt": { "type": "string", "format": "date-time" },
          "isSaved": { "type": "boolean" },
          "canEdit": { "type": "boolean" }, "canDelete": { "type": "boolean" }, "canArchive": { "type": "boolean" }
        }
      },
      "PublishAsset": {
        "type": "object",
        "properties": {
          "confirmInfectedWarning": { "type": "boolean", "description": "Re-publish flag after seeing the AV-infected warning." }
        }
      },
      "VersionSummary": {
        "type": "object",
        "properties": {
          "id": { "type": "string" }, "semver": { "type": "string" }, "isLatest": { "type": "boolean" },
          "analysisStatus": { "type": "string" }, "avStatus": { "type": "string" },
          "publishedAt": { "type": "string", "format": "date-time", "nullable": true },
          "bytesTotal": { "type": "string" }, "fileCount": { "type": "integer" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "CreateVersion": {
        "type": "object", "required": ["semver"],
        "properties": {
          "semver": { "type": "string", "pattern": "^\\d+\\.\\d+\\.\\d+$" },
          "releaseNotes": { "type": "object", "description": "{ en?: TipTapDoc, id?: TipTapDoc }" }
        }
      },
      "UpdateVersion": {
        "type": "object",
        "properties": { "releaseNotes": { "type": "object" } }
      },
      "CompatibilityRow": {
        "type": "object", "required": ["engineVersion", "targets"],
        "properties": {
          "engineVersion": { "type": "string", "maxLength": 40 },
          "renderPipelines": { "type": "array", "items": { "type": "string" }, "description": "Unity only: URP|HDRP|SRP|BUILT_IN" },
          "targets": { "type": "array", "items": { "type": "string" }, "description": "WINDOWS|MAC|LINUX|IOS|ANDROID|CONSOLE|WEB|VR" }
        }
      },
      "SetCompatibility": {
        "type": "object",
        "properties": { "rows": { "type": "array", "items": { "$ref": "#/components/schemas/CompatibilityRow" } } }
      },
      "InitiateUpload": {
        "type": "object", "required": ["assetId", "versionId", "relativePath", "contentType", "bytes"],
        "properties": {
          "assetId": { "type": "string" }, "versionId": { "type": "string" },
          "relativePath": { "type": "string", "maxLength": 512 },
          "contentType": { "type": "string", "maxLength": 200 },
          "bytes": { "type": "integer", "minimum": 0 }
        }
      },
      "InitiateUploadResponse": {
        "type": "object",
        "properties": {
          "uploadId": { "type": "string" }, "putUrl": { "type": "string" },
          "key": { "type": "string" }, "fileId": { "type": "string" },
          "expiresAt": { "type": "string", "format": "date-time" }
        }
      },
      "CompleteUpload": {
        "type": "object", "required": ["uploadId"],
        "properties": { "uploadId": { "type": "string" }, "etag": { "type": "string" } }
      },
      "InitiateMultipart": {
        "allOf": [
          { "$ref": "#/components/schemas/InitiateUpload" },
          { "type": "object", "required": ["partCount"], "properties": { "partCount": { "type": "integer", "minimum": 1, "maximum": 10000 } } }
        ]
      },
      "InitiateMultipartResponse": {
        "type": "object",
        "properties": {
          "uploadId": { "type": "string" }, "key": { "type": "string" }, "fileId": { "type": "string" },
          "partUrls": {
            "type": "array",
            "items": { "type": "object", "properties": { "partNumber": { "type": "integer" }, "url": { "type": "string" } } }
          },
          "expiresAt": { "type": "string", "format": "date-time" }
        }
      },
      "SignMultipartParts": {
        "type": "object", "required": ["uploadId", "partNumbers"],
        "properties": {
          "uploadId": { "type": "string" },
          "partNumbers": { "type": "array", "items": { "type": "integer" } }
        }
      },
      "CompleteMultipart": {
        "type": "object", "required": ["uploadId", "parts"],
        "properties": {
          "uploadId": { "type": "string" },
          "parts": {
            "type": "array",
            "items": { "type": "object", "properties": { "partNumber": { "type": "integer" }, "etag": { "type": "string" } } }
          }
        }
      },
      "AbortMultipart": {
        "type": "object", "required": ["uploadId"],
        "properties": { "uploadId": { "type": "string" } }
      },
      "InitiateThumbnail": {
        "type": "object", "required": ["assetId", "contentType", "bytes"],
        "properties": {
          "assetId": { "type": "string" }, "contentType": { "type": "string" }, "bytes": { "type": "integer" }
        }
      },
      "InitiateThumbnailResponse": {
        "type": "object",
        "properties": { "putUrl": { "type": "string" }, "key": { "type": "string" }, "expiresAt": { "type": "string", "format": "date-time" } }
      },
      "CompleteThumbnail": {
        "type": "object", "required": ["assetId", "key"],
        "properties": { "assetId": { "type": "string" }, "key": { "type": "string" } }
      },
      "InitiateEditorMedia": {
        "type": "object", "required": ["contentType", "bytes"],
        "properties": { "contentType": { "type": "string" }, "bytes": { "type": "integer" } }
      },
      "InitiateEditorMediaResponse": {
        "type": "object",
        "properties": {
          "putUrl": { "type": "string" }, "key": { "type": "string" },
          "viewUrl": { "type": "string", "description": "90-day signed GET URL." },
          "expiresAt": { "type": "string", "format": "date-time" }
        }
      },
      "AddLibraryItem": {
        "type": "object", "required": ["assetId"],
        "properties": { "assetId": { "type": "string" } }
      },
      "UpdateLibraryItem": {
        "type": "object", "required": ["hidden"],
        "properties": { "hidden": { "type": "boolean" } }
      },
      "LibraryItem": {
        "type": "object",
        "properties": {
          "addedAt": { "type": "string", "format": "date-time" },
          "hidden": { "type": "boolean" },
          "asset": { "$ref": "#/components/schemas/AssetSummary" }
        }
      },
      "LibraryPage": {
        "type": "object",
        "properties": {
          "items": { "type": "array", "items": { "$ref": "#/components/schemas/LibraryItem" } },
          "pageInfo": { "$ref": "#/components/schemas/PageInfo" }
        }
      },
      "InitiateDownload": {
        "type": "object", "required": ["assetId", "versionId", "source"],
        "properties": {
          "assetId": { "type": "string" }, "versionId": { "type": "string" },
          "fileId": { "type": "string", "nullable": true },
          "source": { "type": "string", "enum": ["WEB", "UNITY", "UNREAL"] }
        }
      },
      "DownloadResponse": {
        "type": "object",
        "properties": {
          "asset": { "type": "object", "properties": { "id": { "type": "string" }, "title": { "type": "string" } } },
          "version": {
            "type": "object",
            "properties": {
              "id": { "type": "string" }, "semver": { "type": "string" },
              "releaseNotes": { "type": "object", "nullable": true }
            }
          },
          "files": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" }, "relativePath": { "type": "string" },
                "kind": { "type": "string" }, "bytes": { "type": "string" },
                "getUrl": { "type": "string", "nullable": true },
                "expiresAt": { "type": "string", "format": "date-time", "nullable": true }
              }
            }
          },
          "olderVersions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" }, "semver": { "type": "string" },
                "publishedAt": { "type": "string", "format": "date-time", "nullable": true }
              }
            }
          }
        }
      },
      "SearchAssetsResponse": {
        "type": "object",
        "properties": {
          "hits": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" }, "slug": { "type": "string" }, "title": { "type": "string" },
                "shortDescription": { "type": "string" }, "thumbnailUrl": { "type": "string", "nullable": true },
                "engine": { "type": "string" }, "categoryName": { "type": "string" },
                "ownerName": { "type": "string" }, "totalDownloads": { "type": "integer" }
              }
            }
          },
          "processingTimeMs": { "type": "integer" },
          "estimatedTotalHits": { "type": "integer" }
        }
      },
      "CommentAuthor": {
        "type": "object",
        "properties": {
          "id": { "type": "string" }, "displayName": { "type": "string" },
          "avatar": { "$ref": "#/components/schemas/Avatar" }
        }
      },
      "CommentNode": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "kind": { "type": "string", "enum": ["COMMENT", "ISSUE"] },
          "parentId": { "type": "string", "nullable": true },
          "depth": { "type": "integer" },
          "body": { "$ref": "#/components/schemas/TipTapDoc" },
          "status": { "type": "string", "enum": ["OPEN", "ACKNOWLEDGED", "RESOLVED"], "nullable": true },
          "editedAt": { "type": "string", "format": "date-time", "nullable": true },
          "createdAt": { "type": "string", "format": "date-time" },
          "author": { "$ref": "#/components/schemas/CommentAuthor" },
          "replies": { "type": "array", "items": { "$ref": "#/components/schemas/CommentNode" } }
        }
      },
      "CommentListResponse": {
        "type": "object",
        "properties": {
          "items": { "type": "array", "items": { "$ref": "#/components/schemas/CommentNode" } },
          "pageInfo": { "$ref": "#/components/schemas/PageInfo" }
        }
      },
      "CreateComment": {
        "type": "object", "required": ["kind", "body"],
        "properties": {
          "kind": { "type": "string", "enum": ["COMMENT", "ISSUE"] },
          "parentId": { "type": "string", "nullable": true },
          "body": { "$ref": "#/components/schemas/TipTapDoc" }
        }
      },
      "UpdateComment": { "type": "object", "required": ["body"], "properties": { "body": { "$ref": "#/components/schemas/TipTapDoc" } } },
      "UpdateIssueStatus": {
        "type": "object", "required": ["status"],
        "properties": { "status": { "type": "string", "enum": ["OPEN", "ACKNOWLEDGED", "RESOLVED"] } }
      },
      "CreateReport": {
        "type": "object", "required": ["assetId", "category", "notes"],
        "properties": {
          "assetId": { "type": "string" },
          "category": { "type": "string", "enum": ["MALICIOUS_FILE", "BROKEN_ASSET"] },
          "notes": { "type": "string", "minLength": 4, "maxLength": 1000 }
        }
      },
      "ActionReport": {
        "type": "object", "required": ["adminNotes", "action"],
        "properties": {
          "adminNotes": { "type": "string", "minLength": 4, "maxLength": 1000 },
          "action": { "type": "string", "enum": ["NOTHING", "ARCHIVE_ASSET", "DELETE_ASSET", "FORCE_DELETE_ASSET"] },
          "confirm": { "type": "string", "description": "\"I understand\" — required for FORCE_DELETE_ASSET." },
          "confirmedAt": { "type": "string", "format": "date-time" }
        }
      },
      "DismissReport": {
        "type": "object", "required": ["adminNotes"],
        "properties": { "adminNotes": { "type": "string" } }
      },
      "Report": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "category": { "type": "string", "enum": ["MALICIOUS_FILE", "BROKEN_ASSET"] },
          "notes": { "type": "string" },
          "status": { "type": "string", "enum": ["OPEN", "REVIEWING", "ACTIONED", "DISMISSED"] },
          "assetId": { "type": "string" }, "assetTitle": { "type": "string" }, "assetSlug": { "type": "string" },
          "reporter": {
            "type": "object",
            "properties": { "id": { "type": "string" }, "displayName": { "type": "string" }, "email": { "type": "string", "nullable": true } }
          },
          "adminNotes": { "type": "string", "nullable": true },
          "createdAt": { "type": "string", "format": "date-time" },
          "resolvedAt": { "type": "string", "format": "date-time", "nullable": true }
        }
      },
      "CreateAssetRequest": {
        "type": "object", "required": ["assetLink", "assetType", "intendedUse"],
        "properties": {
          "assetLink": { "type": "string", "format": "uri", "maxLength": 500 },
          "assetType": { "type": "string", "maxLength": 80 },
          "intendedUse": { "type": "string", "maxLength": 2000 },
          "price": { "type": "number", "minimum": 0 },
          "notes": { "type": "string", "maxLength": 2000 }
        }
      },
      "AdminUpdateAssetRequest": {
        "type": "object", "required": ["status"],
        "properties": {
          "status": { "type": "string", "enum": ["IN_REVIEW", "PENDING", "APPROVED", "REJECTED"] },
          "adminComment": { "type": "string", "maxLength": 2000 }
        }
      },
      "AssetRequest": {
        "type": "object",
        "properties": {
          "id": { "type": "string" }, "assetLink": { "type": "string" }, "assetType": { "type": "string" },
          "intendedUse": { "type": "string" }, "price": { "type": "number", "nullable": true },
          "notes": { "type": "string", "nullable": true },
          "status": { "type": "string", "enum": ["SENT", "IN_REVIEW", "PENDING", "APPROVED", "REJECTED"] },
          "adminComment": { "type": "string", "nullable": true },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" },
          "requester": { "type": "object", "properties": { "id": { "type": "string" }, "displayName": { "type": "string" } } }
        }
      },
      "AdminFeaturedSlot": {
        "type": "object",
        "properties": {
          "id": { "type": "string" }, "assetId": { "type": "string" },
          "assetTitle": { "type": "string" }, "assetSlug": { "type": "string" },
          "customBannerKey": { "type": "string", "nullable": true },
          "customBannerUrl": { "type": "string", "nullable": true },
          "customTitle": { "type": "string", "nullable": true },
          "customShortDescription": { "type": "object", "nullable": true },
          "sortOrder": { "type": "integer" }, "isActive": { "type": "boolean" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "CreateFeaturedSlot": {
        "type": "object", "required": ["assetId"],
        "properties": {
          "assetId": { "type": "string" },
          "customBannerKey": { "type": "string" },
          "customTitle": { "type": "string", "maxLength": 140 },
          "customShortDescription": { "type": "object", "description": "{ en?, id? } overrides." },
          "isActive": { "type": "boolean", "default": true }
        }
      },
      "UpdateFeaturedSlot": {
        "type": "object",
        "properties": {
          "customBannerKey": { "type": "string" },
          "customTitle": { "type": "string" },
          "customShortDescription": { "type": "object" },
          "isActive": { "type": "boolean" },
          "sortOrder": { "type": "integer" }
        }
      },
      "ReorderIds": {
        "type": "object", "required": ["orderedIds"],
        "properties": { "orderedIds": { "type": "array", "items": { "type": "string" } } }
      },
      "BannerInitiate": {
        "type": "object", "required": ["contentType", "bytes"],
        "properties": { "contentType": { "type": "string" }, "bytes": { "type": "integer" } }
      },
      "BannerInitiateResponse": {
        "type": "object",
        "properties": { "putUrl": { "type": "string" }, "key": { "type": "string" }, "expiresAt": { "type": "string", "format": "date-time" } }
      },
      "AdminCategory": {
        "type": "object",
        "properties": {
          "id": { "type": "string" }, "slug": { "type": "string" },
          "name": { "type": "object", "description": "{ en?, id? }" },
          "iconKey": { "type": "string", "nullable": true },
          "iconUrl": { "type": "string", "nullable": true },
          "sortOrder": { "type": "integer" }, "isActive": { "type": "boolean" },
          "assetCount": { "type": "integer" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "CreateCategory": {
        "type": "object", "required": ["slug", "name"],
        "properties": {
          "slug": { "type": "string", "pattern": "^[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$" },
          "name": { "type": "object", "description": "{ en, id }" },
          "iconKey": { "type": "string" }, "sortOrder": { "type": "integer" }, "isActive": { "type": "boolean" }
        }
      },
      "UpdateCategory": {
        "type": "object",
        "properties": {
          "slug": { "type": "string" }, "name": { "type": "object" }, "iconKey": { "type": "string" },
          "sortOrder": { "type": "integer" }, "isActive": { "type": "boolean" }
        }
      },
      "MergeTags": {
        "type": "object", "required": ["fromTagIds", "intoTagId"],
        "properties": {
          "fromTagIds": { "type": "array", "items": { "type": "string" } },
          "intoTagId": { "type": "string" }
        }
      },
      "UpdateTag": {
        "type": "object",
        "properties": { "slug": { "type": "string" }, "displayName": { "type": "string" } }
      },
      "AdminLicense": {
        "type": "object",
        "properties": {
          "id": { "type": "string" }, "slug": { "type": "string" }, "name": { "type": "string" },
          "description": { "type": "object", "description": "{ en?, id? }" },
          "fullText": { "type": "object", "description": "{ en?, id? }" },
          "sortOrder": { "type": "integer" }, "isActive": { "type": "boolean" },
          "assetCount": { "type": "integer" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "CreateLicense": {
        "type": "object", "required": ["slug", "name", "description", "fullText"],
        "properties": {
          "slug": { "type": "string" }, "name": { "type": "string", "maxLength": 140 },
          "description": { "type": "object" }, "fullText": { "type": "object" },
          "sortOrder": { "type": "integer" }, "isActive": { "type": "boolean" }
        }
      },
      "UpdateLicense": {
        "type": "object",
        "properties": {
          "name": { "type": "string" }, "description": { "type": "object" }, "fullText": { "type": "object" },
          "sortOrder": { "type": "integer" }, "isActive": { "type": "boolean" }
        }
      },
      "AdminUser": {
        "type": "object",
        "properties": {
          "id": { "type": "string" }, "email": { "type": "string" }, "displayName": { "type": "string" },
          "isAdmin": { "type": "boolean" }, "locale": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time" },
          "publishedAssetCount": { "type": "integer" }
        }
      },
      "ConfirmAction": {
        "type": "object", "required": ["confirm", "confirmedAt"],
        "properties": {
          "confirm": { "type": "string", "example": "I understand" },
          "confirmedAt": { "type": "string", "format": "date-time" }
        }
      },
      "AdminAssetAction": {
        "type": "object", "required": ["reason"],
        "properties": { "reason": { "type": "string", "minLength": 4, "maxLength": 500 } }
      },
      "AdminAssetForceDelete": {
        "allOf": [
          { "$ref": "#/components/schemas/AdminAssetAction" },
          { "$ref": "#/components/schemas/ConfirmAction" }
        ]
      },
      "AdminAssetTransfer": {
        "type": "object", "required": ["newOwnerId"],
        "properties": { "newOwnerId": { "type": "string" } }
      },
      "Notification": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "type": { "type": "string", "description": "See NotificationType enum (COMMENT_CREATED, AV_INFECTED_WARNING, ADMIN_PROMOTED, etc.)" },
          "payload": { "type": "object" },
          "readAt": { "type": "string", "format": "date-time", "nullable": true },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "NotificationPage": {
        "type": "object",
        "properties": {
          "items": { "type": "array", "items": { "$ref": "#/components/schemas/Notification" } },
          "pageInfo": { "$ref": "#/components/schemas/PageInfo" }
        }
      },
      "AuditEntry": {
        "type": "object",
        "properties": {
          "id": { "type": "string" }, "action": { "type": "string" },
          "subjectType": { "type": "string" }, "subjectId": { "type": "string" },
          "actorId": { "type": "string", "nullable": true },
          "actorDisplayName": { "type": "string", "nullable": true },
          "actorEmail": { "type": "string", "nullable": true },
          "metadata": { "type": "object", "nullable": true },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "Discover": {
        "type": "object",
        "properties": {
          "featured": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" }, "assetId": { "type": "string" }, "assetSlug": { "type": "string" },
                "title": { "type": "string" }, "shortDescription": { "type": "string" },
                "bannerUrl": { "type": "string", "nullable": true }, "sortOrder": { "type": "integer" }
              }
            }
          },
          "rows": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "categoryId": { "type": "string" }, "categorySlug": { "type": "string" }, "name": { "type": "string" },
                "assets": { "type": "array", "items": { "$ref": "#/components/schemas/AssetSummary" } }
              }
            }
          }
        }
      },
      "DashboardResponse": {
        "type": "object",
        "properties": {
          "counts": { "type": "object" },
          "storage": { "type": "object" },
          "charts": { "type": "object" },
          "topAssets7d": { "type": "array", "items": { "type": "object" } },
          "recentAudit": { "type": "array", "items": { "$ref": "#/components/schemas/AuditEntry" } }
        }
      }
    },
    "responses": {
      "Problem400": { "description": "Validation / domain error.", "content": { "application/problem+json": { "schema": { "$ref": "#/components/schemas/Problem" } } } },
      "Problem401": { "description": "Unauthenticated.", "content": { "application/problem+json": { "schema": { "$ref": "#/components/schemas/Problem" } } } },
      "Problem403": { "description": "Forbidden.", "content": { "application/problem+json": { "schema": { "$ref": "#/components/schemas/Problem" } } } },
      "Problem404": { "description": "Not found.", "content": { "application/problem+json": { "schema": { "$ref": "#/components/schemas/Problem" } } } },
      "Problem409": { "description": "Conflict (e.g. featured cap, idempotency reuse).", "content": { "application/problem+json": { "schema": { "$ref": "#/components/schemas/Problem" } } } },
      "Problem429": { "description": "Rate-limited; includes Retry-After header.", "headers": { "Retry-After": { "schema": { "type": "integer" } } }, "content": { "application/problem+json": { "schema": { "$ref": "#/components/schemas/Problem" } } } }
    }
  },
  "paths": {
    "/healthz": {
      "get": {
        "tags": ["Health"], "summary": "Liveness probe (always 200).",
        "responses": { "200": { "description": "Up." } }
      }
    },
    "/readyz": {
      "get": {
        "tags": ["Health"], "summary": "Readiness — checks every downstream.",
        "responses": { "200": { "description": "Ready." }, "503": { "description": "Degraded." } }
      }
    },
    "/metrics": {
      "get": {
        "tags": ["Health"], "summary": "Prometheus scrape (admin or METRICS_ALLOW_CIDRS).",
        "responses": { "200": { "description": "Text-format metrics." }, "403": { "$ref": "#/components/responses/Problem403" } }
      }
    },
    "/auth/me": {
      "get": {
        "tags": ["Auth"], "summary": "Current user + role + avatar + counters.",
        "security": [{ "keycloak": [] }],
        "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MeResponse" } } } } }
      }
    },
    "/auth/me/locale": {
      "patch": {
        "tags": ["Auth"], "summary": "Persist preferred locale.",
        "security": [{ "keycloak": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UpdateLocale" } } } },
        "responses": { "200": { "description": "Updated /auth/me payload.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MeResponse" } } } } }
      }
    },
    "/auth/plugin/exchange": {
      "post": {
        "tags": ["Auth"], "summary": "Exchange a Keycloak token for a long-lived plugin device token.",
        "description": "Rate-limited 20/IP/minute.",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PluginExchange" } } } },
        "responses": {
          "201": { "description": "Issued.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PluginExchangeResponse" } } } },
          "401": { "$ref": "#/components/responses/Problem401" },
          "429": { "$ref": "#/components/responses/Problem429" }
        }
      }
    },
    "/auth/plugin/refresh": {
      "post": {
        "tags": ["Auth"], "summary": "Slide a device token's expiry.",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["deviceToken"], "properties": { "deviceToken": { "type": "string" } } } } } },
        "responses": { "200": { "description": "OK." }, "401": { "$ref": "#/components/responses/Problem401" } }
      }
    },
    "/auth/plugin/revoke": {
      "post": {
        "tags": ["Auth"], "summary": "Revoke a plugin device by id.",
        "security": [{ "keycloak": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["deviceId"], "properties": { "deviceId": { "type": "string" } } } } } },
        "responses": { "204": { "description": "Revoked." } }
      }
    },
    "/auth/plugin/devices": {
      "get": {
        "tags": ["Auth"], "summary": "List the user's active plugin devices.",
        "security": [{ "keycloak": [] }],
        "responses": { "200": { "description": "List.", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/PluginDevice" } } } } } }
      }
    },
    "/auth/plugin/devices/{id}": {
      "delete": {
        "tags": ["Auth"], "summary": "Revoke a plugin device by id.",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "204": { "description": "Revoked." } }
      }
    },
    "/me": {
      "get": {
        "tags": ["Me"], "summary": "/auth/me + the user's active plugin devices.",
        "security": [{ "keycloak": [] }],
        "responses": { "200": { "description": "OK.", "content": { "application/json": { "schema": { "allOf": [{ "$ref": "#/components/schemas/MeResponse" }, { "type": "object", "properties": { "devices": { "type": "array", "items": { "$ref": "#/components/schemas/PluginDevice" } } } }] } } } } }
      }
    },
    "/me/devices/{id}/revoke": {
      "post": {
        "tags": ["Me"], "summary": "Revoke one of the user's plugin devices.",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "204": { "description": "Revoked." } }
      }
    },
    "/me/logout": {
      "post": {
        "tags": ["Me"], "summary": "Audit row + WS session:logout broadcast.",
        "security": [{ "keycloak": [] }],
        "responses": { "204": { "description": "OK." } }
      }
    },
    "/users/search": {
      "get": {
        "tags": ["Users"], "summary": "Admin-only typeahead by email + displayName.",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "q", "in": "query", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "Up to 20.", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/UserSearchResult" } } } } }, "403": { "$ref": "#/components/responses/Problem403" } }
      }
    },
    "/users/{id}": {
      "get": {
        "tags": ["Users"], "summary": "Public profile.",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "OK.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UserPublicProfile" } } } } }
      }
    },
    "/categories": {
      "get": {
        "tags": ["Categories"], "summary": "Active categories with asset counts (Redis-cached 60 s).",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "$ref": "#/components/parameters/Locale" }],
        "responses": { "200": { "description": "OK.", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Category" } } } } } }
      }
    },
    "/tags": {
      "get": {
        "tags": ["Tags"], "summary": "Tag autocomplete by slug/displayName prefix.",
        "security": [{ "keycloak": [] }],
        "parameters": [
          { "name": "q", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 10, "maximum": 20 } }
        ],
        "responses": { "200": { "description": "OK.", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Tag" } } } } } }
      }
    },
    "/licenses": {
      "get": {
        "tags": ["Licenses"], "summary": "Active license summaries.",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "$ref": "#/components/parameters/Locale" }],
        "responses": { "200": { "description": "OK.", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/LicenseSummary" } } } } } }
      }
    },
    "/licenses/{id}": {
      "get": {
        "tags": ["Licenses"], "summary": "License detail incl. full localized text.",
        "security": [{ "keycloak": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "$ref": "#/components/parameters/Locale" }
        ],
        "responses": { "200": { "description": "OK.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/LicenseDetail" } } } } }
      }
    },
    "/discover": {
      "get": {
        "tags": ["Assets"], "summary": "Landing-page composite (featured + per-category rows). Cached 30 s per locale.",
        "parameters": [{ "$ref": "#/components/parameters/Locale" }],
        "responses": { "200": { "description": "OK.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Discover" } } } } }
      }
    },
    "/assets": {
      "get": {
        "tags": ["Assets"], "summary": "Filterable list of published assets (admins can include unpublished).",
        "parameters": [
          { "$ref": "#/components/parameters/Cursor" }, { "$ref": "#/components/parameters/Limit" }, { "$ref": "#/components/parameters/Locale" },
          { "name": "q", "in": "query", "schema": { "type": "string" } },
          { "name": "engine", "in": "query", "schema": { "type": "string", "enum": ["UNITY", "UNREAL", "ENGINE_AGNOSTIC"] } },
          { "name": "categoryIds", "in": "query", "schema": { "type": "array", "items": { "type": "string" } } },
          { "name": "tags", "in": "query", "schema": { "type": "array", "items": { "type": "string" } } },
          { "name": "fileKinds", "in": "query", "schema": { "type": "array", "items": { "type": "string" } } },
          { "name": "licenseSlug", "in": "query", "schema": { "type": "string" } },
          { "name": "renderPipelines", "in": "query", "schema": { "type": "array", "items": { "type": "string" } } },
          { "name": "targets", "in": "query", "schema": { "type": "array", "items": { "type": "string" } } },
          { "name": "sort", "in": "query", "schema": { "type": "string", "enum": ["newest", "mostDownloaded", "recentlyUpdated", "alphabetical", "mostSaved"] } },
          { "name": "ownerId", "in": "query", "schema": { "type": "string" } },
          { "name": "includeUnpublished", "in": "query", "schema": { "type": "boolean" } }
        ],
        "responses": { "200": { "description": "OK.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AssetListPage" } } } } }
      },
      "post": {
        "tags": ["Assets"], "summary": "Create a draft asset (with initial version row).",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "$ref": "#/components/parameters/IdempotencyKey" }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateAsset" } } } },
        "responses": {
          "201": { "description": "Created.", "content": { "application/json": { "schema": { "type": "object", "properties": { "id": { "type": "string" }, "slug": { "type": "string" } } } } } },
          "409": { "$ref": "#/components/responses/Problem409" }
        }
      }
    },
    "/assets/{idOrSlug}": {
      "get": {
        "tags": ["Assets"], "summary": "Asset detail by id or slug (guests see published only).",
        "parameters": [
          { "name": "idOrSlug", "in": "path", "required": true, "schema": { "type": "string" } },
          { "$ref": "#/components/parameters/Locale" }
        ],
        "responses": { "200": { "description": "OK.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AssetDetail" } } } }, "404": { "$ref": "#/components/responses/Problem404" } }
      }
    },
    "/assets/{id}": {
      "patch": {
        "tags": ["Assets"], "summary": "Partial update; engine is immutable post-publish.",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UpdateAsset" } } } },
        "responses": { "204": { "description": "Updated." } }
      },
      "delete": {
        "tags": ["Assets"], "summary": "Soft delete; physical purge after 30 days.",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "204": { "description": "Soft-deleted." } }
      }
    },
    "/assets/{id}/publish": {
      "post": {
        "tags": ["Assets"], "summary": "Run publish checklist; flip DRAFT → PUBLISHED.",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PublishAsset" } } } },
        "responses": {
          "200": { "description": "Published; body lists any soft warnings." },
          "400": { "$ref": "#/components/responses/Problem400" },
          "409": { "$ref": "#/components/responses/Problem409" }
        }
      }
    },
    "/assets/{id}/archive": {
      "post": {
        "tags": ["Assets"], "summary": "Archive an asset (hidden from Discover/Search).",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "204": { "description": "Archived." } }
      }
    },
    "/assets/{id}/restore": {
      "post": {
        "tags": ["Assets"], "summary": "Restore an archived asset within 30 days.",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "204": { "description": "Restored." } }
      }
    },
    "/assets/{id}/recommended": {
      "get": {
        "tags": ["Assets"], "summary": "Six related assets by category + tags + engine.",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "$ref": "#/components/parameters/Locale" }
        ],
        "responses": { "200": { "description": "OK.", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/AssetSummary" } } } } } }
      }
    },
    "/assets/{assetId}/versions": {
      "get": {
        "tags": ["Versions"], "summary": "List versions (non-owners see published+clean only).",
        "parameters": [{ "name": "assetId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "OK.", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/VersionSummary" } } } } } }
      },
      "post": {
        "tags": ["Versions"], "summary": "Create a new semver-unique version row.",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "assetId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateVersion" } } } },
        "responses": { "201": { "description": "Created.", "content": { "application/json": { "schema": { "type": "object", "properties": { "id": { "type": "string" } } } } } } }
      }
    },
    "/assets/{assetId}/versions/{vid}": {
      "patch": {
        "tags": ["Versions"], "summary": "Update release notes; semver immutable post-publish.",
        "security": [{ "keycloak": [] }],
        "parameters": [
          { "name": "assetId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "vid", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UpdateVersion" } } } },
        "responses": { "204": { "description": "Updated." } }
      }
    },
    "/assets/{assetId}/versions/{vid}/publish": {
      "post": {
        "tags": ["Versions"], "summary": "Publish a version; transactionally flips isLatest.",
        "security": [{ "keycloak": [] }],
        "parameters": [
          { "name": "assetId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "vid", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "204": { "description": "Published." } }
      }
    },
    "/assets/{assetId}/versions/{vid}/reanalyze": {
      "post": {
        "tags": ["Versions"], "summary": "Re-run analyzer + AV on every file in this version.",
        "security": [{ "keycloak": [] }],
        "parameters": [
          { "name": "assetId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "vid", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "204": { "description": "Enqueued." } }
      }
    },
    "/assets/{assetId}/versions/{vid}/compatibility": {
      "post": {
        "tags": ["Versions"], "summary": "Replace the engine/version/target matrix.",
        "security": [{ "keycloak": [] }],
        "parameters": [
          { "name": "assetId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "vid", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SetCompatibility" } } } },
        "responses": { "204": { "description": "Replaced." } }
      }
    },
    "/files/uploads/initiate": {
      "post": {
        "tags": ["Files"], "summary": "Presigned PUT URL for a ≤100 MB file.",
        "security": [{ "keycloak": [] }, { "pluginToken": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InitiateUpload" } } } },
        "responses": { "200": { "description": "OK.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InitiateUploadResponse" } } } } }
      }
    },
    "/files/uploads/complete": {
      "post": {
        "tags": ["Files"], "summary": "Finalize a single-shot upload; fires analyzer + AV jobs.",
        "security": [{ "keycloak": [] }, { "pluginToken": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CompleteUpload" } } } },
        "responses": { "204": { "description": "Completed." } }
      }
    },
    "/files/uploads/multipart/initiate": {
      "post": {
        "tags": ["Files"], "summary": "Begin a multipart upload.",
        "security": [{ "keycloak": [] }, { "pluginToken": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InitiateMultipart" } } } },
        "responses": { "200": { "description": "OK.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InitiateMultipartResponse" } } } } }
      }
    },
    "/files/uploads/multipart/sign": {
      "post": {
        "tags": ["Files"], "summary": "Re-sign additional parts on an existing multipart upload.",
        "security": [{ "keycloak": [] }, { "pluginToken": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SignMultipartParts" } } } },
        "responses": { "200": { "description": "Re-signed URLs.", "content": { "application/json": { "schema": { "type": "array", "items": { "type": "object", "properties": { "partNumber": { "type": "integer" }, "url": { "type": "string" } } } } } } } }
      }
    },
    "/files/uploads/multipart/complete": {
      "post": {
        "tags": ["Files"], "summary": "Finalize a multipart upload.",
        "security": [{ "keycloak": [] }, { "pluginToken": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CompleteMultipart" } } } },
        "responses": { "204": { "description": "Completed." } }
      }
    },
    "/files/uploads/multipart/abort": {
      "post": {
        "tags": ["Files"], "summary": "Abort an in-flight multipart upload.",
        "security": [{ "keycloak": [] }, { "pluginToken": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AbortMultipart" } } } },
        "responses": { "204": { "description": "Aborted." } }
      }
    },
    "/files/thumbnails/initiate": {
      "post": {
        "tags": ["Files"], "summary": "Presigned PUT URL for an asset thumbnail.",
        "security": [{ "keycloak": [] }, { "pluginToken": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InitiateThumbnail" } } } },
        "responses": { "200": { "description": "OK.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InitiateThumbnailResponse" } } } } }
      }
    },
    "/files/thumbnails/complete": {
      "post": {
        "tags": ["Files"], "summary": "Wire a freshly uploaded thumbnail to the asset; enqueue variants render.",
        "security": [{ "keycloak": [] }, { "pluginToken": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CompleteThumbnail" } } } },
        "responses": { "204": { "description": "Wired." } }
      }
    },
    "/files/editor-media/initiate": {
      "post": {
        "tags": ["Files"], "summary": "Presigned PUT URL for a TipTap inline media file (with 90-day view URL).",
        "security": [{ "keycloak": [] }, { "pluginToken": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InitiateEditorMedia" } } } },
        "responses": { "200": { "description": "OK.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InitiateEditorMediaResponse" } } } } }
      }
    },
    "/library": {
      "get": {
        "tags": ["Library"], "summary": "Saved-library listing for the current user.",
        "security": [{ "keycloak": [] }, { "pluginToken": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/Cursor" }, { "$ref": "#/components/parameters/Limit" }, { "$ref": "#/components/parameters/Locale" },
          { "name": "q", "in": "query", "schema": { "type": "string" } },
          { "name": "categoryIds", "in": "query", "schema": { "type": "array", "items": { "type": "string" } } },
          { "name": "tags", "in": "query", "schema": { "type": "array", "items": { "type": "string" } } },
          { "name": "engine", "in": "query", "schema": { "type": "string" } },
          { "name": "hidden", "in": "query", "schema": { "type": "string", "enum": ["true", "false", "all"] } },
          { "name": "sort", "in": "query", "schema": { "type": "string", "enum": ["savedAt", "alphabetical", "recentlyUpdated"] } }
        ],
        "responses": { "200": { "description": "OK.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/LibraryPage" } } } } }
      }
    },
    "/library/items": {
      "post": {
        "tags": ["Library"], "summary": "Add an asset to the library (idempotent).",
        "security": [{ "keycloak": [] }, { "pluginToken": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AddLibraryItem" } } } },
        "responses": { "204": { "description": "Added." } }
      }
    },
    "/library/items/{assetId}": {
      "delete": {
        "tags": ["Library"], "summary": "Remove an asset from the library.",
        "security": [{ "keycloak": [] }, { "pluginToken": [] }],
        "parameters": [{ "name": "assetId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "204": { "description": "Removed." } }
      },
      "patch": {
        "tags": ["Library"], "summary": "Toggle the hidden flag on a library entry.",
        "security": [{ "keycloak": [] }, { "pluginToken": [] }],
        "parameters": [{ "name": "assetId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UpdateLibraryItem" } } } },
        "responses": { "204": { "description": "Updated." } }
      }
    },
    "/downloads": {
      "post": {
        "tags": ["Downloads"], "summary": "Issue signed URLs, write Download rows, auto-add to library.",
        "security": [{ "keycloak": [] }, { "pluginToken": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InitiateDownload" } } } },
        "responses": { "200": { "description": "OK.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DownloadResponse" } } } } }
      }
    },
    "/downloads/options": {
      "get": {
        "tags": ["Downloads"], "summary": "Popup payload — no URLs, no Download rows written.",
        "security": [{ "keycloak": [] }, { "pluginToken": [] }],
        "parameters": [
          { "name": "assetId", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "versionId", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "OK.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DownloadResponse" } } } } }
      }
    },
    "/search/assets": {
      "get": {
        "tags": ["Search"], "summary": "Full-text search over assets via Meilisearch.",
        "security": [{ "keycloak": [] }],
        "parameters": [
          { "name": "q", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "engine", "in": "query", "schema": { "type": "string" } },
          { "name": "categoryIds", "in": "query", "schema": { "type": "array", "items": { "type": "string" } } },
          { "name": "tags", "in": "query", "schema": { "type": "array", "items": { "type": "string" } } },
          { "name": "fileKinds", "in": "query", "schema": { "type": "array", "items": { "type": "string" } } },
          { "name": "renderPipelines", "in": "query", "schema": { "type": "array", "items": { "type": "string" } } },
          { "name": "targets", "in": "query", "schema": { "type": "array", "items": { "type": "string" } } },
          { "name": "licenseSlug", "in": "query", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 24, "maximum": 100 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } },
          { "$ref": "#/components/parameters/Locale" }
        ],
        "responses": { "200": { "description": "OK.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SearchAssetsResponse" } } } } }
      }
    },
    "/search/tags": {
      "get": {
        "tags": ["Search"], "summary": "Fuzzy / partial-match tag autocomplete via Meilisearch.",
        "security": [{ "keycloak": [] }],
        "parameters": [
          { "name": "q", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 10, "maximum": 20 } }
        ],
        "responses": { "200": { "description": "OK.", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Tag" } } } } } }
      }
    },
    "/assets/{assetId}/comments": {
      "get": {
        "tags": ["Comments"], "summary": "Threaded comments/issues under an asset.",
        "parameters": [
          { "name": "assetId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "$ref": "#/components/parameters/Cursor" },
          { "name": "kind", "in": "query", "schema": { "type": "string", "enum": ["ALL", "COMMENT", "ISSUE"], "default": "ALL" } }
        ],
        "responses": { "200": { "description": "OK.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CommentListResponse" } } } } }
      },
      "post": {
        "tags": ["Comments"], "summary": "Create a top-level comment/issue or a reply (max depth 5). Rate-limited 60/user/min.",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "assetId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateComment" } } } },
        "responses": { "201": { "description": "Created." }, "400": { "$ref": "#/components/responses/Problem400" }, "429": { "$ref": "#/components/responses/Problem429" } }
      }
    },
    "/comments/{id}": {
      "patch": {
        "tags": ["Comments"], "summary": "Author edit; sets editedAt.",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UpdateComment" } } } },
        "responses": { "204": { "description": "Updated." } }
      },
      "delete": {
        "tags": ["Comments"], "summary": "Admin-only soft delete.",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "204": { "description": "Deleted." }, "403": { "$ref": "#/components/responses/Problem403" } }
      }
    },
    "/comments/{id}/status": {
      "patch": {
        "tags": ["Comments"], "summary": "Asset owner or admin transitions an issue status.",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UpdateIssueStatus" } } } },
        "responses": { "204": { "description": "Updated." } }
      }
    },
    "/reports": {
      "post": {
        "tags": ["Reports"], "summary": "Submit a report (rate-limited 5/user/day).",
        "security": [{ "keycloak": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateReport" } } } },
        "responses": { "201": { "description": "Submitted." }, "429": { "$ref": "#/components/responses/Problem429" } }
      }
    },
    "/asset-requests": {
      "post": {
        "tags": ["AssetRequests"], "summary": "Submit an asset-sourcing request (rate-limited 20/user/day).",
        "security": [{ "keycloak": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateAssetRequest" } } } },
        "responses": { "201": { "description": "Submitted." }, "429": { "$ref": "#/components/responses/Problem429" } }
      },
      "get": {
        "tags": ["AssetRequests"], "summary": "List requests — admins see all; others see only their own.",
        "security": [{ "keycloak": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/Cursor" }, { "$ref": "#/components/parameters/Limit" },
          { "name": "status", "in": "query", "schema": { "type": "string" } },
          { "name": "requesterId", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "OK." } }
      }
    },
    "/asset-requests/{id}": {
      "get": {
        "tags": ["AssetRequests"], "summary": "Single request — owner or admin only.",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "OK.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AssetRequest" } } } } }
      }
    },
    "/notifications": {
      "get": {
        "tags": ["Notifications"], "summary": "Paginated inbox.",
        "security": [{ "keycloak": [] }, { "pluginToken": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/Cursor" }, { "$ref": "#/components/parameters/Limit" },
          { "name": "unreadOnly", "in": "query", "schema": { "type": "boolean" } }
        ],
        "responses": { "200": { "description": "OK.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/NotificationPage" } } } } }
      }
    },
    "/notifications/unread-count": {
      "get": {
        "tags": ["Notifications"], "summary": "Cheap unread counter for the bell badge.",
        "security": [{ "keycloak": [] }, { "pluginToken": [] }],
        "responses": { "200": { "description": "OK.", "content": { "application/json": { "schema": { "type": "object", "properties": { "count": { "type": "integer" } } } } } } }
      }
    },
    "/notifications/{id}/read": {
      "post": {
        "tags": ["Notifications"], "summary": "Mark one notification as read.",
        "security": [{ "keycloak": [] }, { "pluginToken": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "OK.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Notification" } } } } }
      }
    },
    "/notifications/read-all": {
      "post": {
        "tags": ["Notifications"], "summary": "Bulk-mark every unread notification as read.",
        "security": [{ "keycloak": [] }, { "pluginToken": [] }],
        "responses": { "200": { "description": "OK.", "content": { "application/json": { "schema": { "type": "object", "properties": { "updated": { "type": "integer" } } } } } } }
      }
    },
    "/me/analytics/summary": {
      "get": {
        "tags": ["Analytics"], "summary": "Totals + top 5 + 90 days of daily downloads for the current user's assets.",
        "security": [{ "keycloak": [] }],
        "responses": { "200": { "description": "OK." } }
      }
    },
    "/me/analytics/assets/{assetId}": {
      "get": {
        "tags": ["Analytics"], "summary": "Per-asset breakdown (owner / admin only).",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "assetId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "OK." } }
      }
    },
    "/admin/dashboard": {
      "get": {
        "tags": ["Admin"], "summary": "Composite home payload (counts/storage/charts/top-7d/recent-audit).",
        "security": [{ "keycloak": [] }],
        "responses": { "200": { "description": "OK.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DashboardResponse" } } } } }
      }
    },
    "/admin/storage/users": {
      "get": {
        "tags": ["Admin"], "summary": "Per-user storage (latest snapshot, bytes desc).",
        "security": [{ "keycloak": [] }],
        "parameters": [
          { "name": "date", "in": "query", "schema": { "type": "string", "format": "date" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": { "200": { "description": "OK." } }
      }
    },
    "/admin/storage/assets": {
      "get": {
        "tags": ["Admin"], "summary": "Per-asset storage usage.",
        "security": [{ "keycloak": [] }],
        "parameters": [
          { "name": "date", "in": "query", "schema": { "type": "string", "format": "date" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": { "200": { "description": "OK." } }
      }
    },
    "/admin/assets": {
      "get": {
        "tags": ["Admin"], "summary": "Cross-status asset list (X-Total-* response headers).",
        "security": [{ "keycloak": [] }],
        "responses": { "200": { "description": "OK." } }
      }
    },
    "/admin/assets/{id}": {
      "get": {
        "tags": ["Admin"], "summary": "Admin detail (sees DRAFT/ARCHIVED/DELETED).",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "OK.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AssetDetail" } } } } }
      },
      "patch": {
        "tags": ["Admin"], "summary": "Admin edit on behalf of contributor.",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UpdateAsset" } } } },
        "responses": { "204": { "description": "Updated." } }
      },
      "delete": {
        "tags": ["Admin"], "summary": "Soft delete with mandatory reason.",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AdminAssetAction" } } } },
        "responses": { "204": { "description": "Deleted." } }
      }
    },
    "/admin/assets/{id}/archive": {
      "post": {
        "tags": ["Admin"], "summary": "Admin-forced archive with reason.",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AdminAssetAction" } } } },
        "responses": { "204": { "description": "Archived." } }
      }
    },
    "/admin/assets/{id}/restore": {
      "post": {
        "tags": ["Admin"], "summary": "Restore an archived or soft-deleted asset.",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "204": { "description": "Restored." } }
      }
    },
    "/admin/assets/{id}/force-delete": {
      "post": {
        "tags": ["Admin"], "summary": "Immediate hard delete incl. S3. Requires confirmation phrase.",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AdminAssetForceDelete" } } } },
        "responses": { "204": { "description": "Hard-deleted." }, "400": { "$ref": "#/components/responses/Problem400" } }
      }
    },
    "/admin/assets/{id}/transfer": {
      "post": {
        "tags": ["Admin"], "summary": "Reassign ownership to another user.",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AdminAssetTransfer" } } } },
        "responses": { "204": { "description": "Transferred." } }
      }
    },
    "/admin/reports": {
      "get": {
        "tags": ["Admin"], "summary": "Moderation queue.",
        "security": [{ "keycloak": [] }],
        "responses": { "200": { "description": "OK." } }
      }
    },
    "/admin/reports/{id}": {
      "get": {
        "tags": ["Admin"], "summary": "Report detail.",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "OK.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Report" } } } } }
      }
    },
    "/admin/reports/{id}/start-review": {
      "post": {
        "tags": ["Admin"], "summary": "Flip OPEN → REVIEWING.",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "204": { "description": "Updated." } }
      }
    },
    "/admin/reports/{id}/action": {
      "post": {
        "tags": ["Admin"], "summary": "Action a report — archive / delete / force-delete the asset atomically.",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ActionReport" } } } },
        "responses": { "204": { "description": "Actioned." } }
      }
    },
    "/admin/reports/{id}/dismiss": {
      "post": {
        "tags": ["Admin"], "summary": "Dismiss with admin notes.",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DismissReport" } } } },
        "responses": { "204": { "description": "Dismissed." } }
      }
    },
    "/admin/asset-requests": {
      "get": {
        "tags": ["Admin"], "summary": "List requests across every requester.",
        "security": [{ "keycloak": [] }],
        "responses": { "200": { "description": "OK." } }
      }
    },
    "/admin/asset-requests/{id}": {
      "patch": {
        "tags": ["Admin"], "summary": "Admin transition (REJECTED requires adminComment).",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AdminUpdateAssetRequest" } } } },
        "responses": { "200": { "description": "Updated.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AssetRequest" } } } } }
      }
    },
    "/admin/featured": {
      "get": {
        "tags": ["Admin"], "summary": "List every featured slot.",
        "security": [{ "keycloak": [] }],
        "responses": { "200": { "description": "OK.", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/AdminFeaturedSlot" } } } } } }
      },
      "post": {
        "tags": ["Admin"], "summary": "Create a featured slot (caps active at 5).",
        "security": [{ "keycloak": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateFeaturedSlot" } } } },
        "responses": { "201": { "description": "Created.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AdminFeaturedSlot" } } } }, "409": { "$ref": "#/components/responses/Problem409" } }
      }
    },
    "/admin/featured/{id}": {
      "patch": {
        "tags": ["Admin"], "summary": "Partial update.",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UpdateFeaturedSlot" } } } },
        "responses": { "200": { "description": "OK.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AdminFeaturedSlot" } } } } }
      },
      "delete": {
        "tags": ["Admin"], "summary": "Delete the slot.",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "204": { "description": "Deleted." } }
      }
    },
    "/admin/featured/reorder": {
      "post": {
        "tags": ["Admin"], "summary": "Replace sort order in one shot.",
        "security": [{ "keycloak": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ReorderIds" } } } },
        "responses": { "204": { "description": "Reordered." } }
      }
    },
    "/admin/featured/banner-uploads/initiate": {
      "post": {
        "tags": ["Admin"], "summary": "Presigned PUT URL for a custom featured banner.",
        "security": [{ "keycloak": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BannerInitiate" } } } },
        "responses": { "200": { "description": "OK.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BannerInitiateResponse" } } } } }
      }
    },
    "/admin/categories": {
      "get": {
        "tags": ["Admin"], "summary": "List every category (active + inactive) with asset counts.",
        "security": [{ "keycloak": [] }],
        "responses": { "200": { "description": "OK.", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/AdminCategory" } } } } } }
      },
      "post": {
        "tags": ["Admin"], "summary": "Create a category.",
        "security": [{ "keycloak": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateCategory" } } } },
        "responses": { "201": { "description": "Created.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AdminCategory" } } } } }
      }
    },
    "/admin/categories/{id}": {
      "patch": {
        "tags": ["Admin"], "summary": "Partial update; reindexes affected assets.",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UpdateCategory" } } } },
        "responses": { "200": { "description": "OK.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AdminCategory" } } } } }
      },
      "delete": {
        "tags": ["Admin"], "summary": "Delete; rejected if any asset references it.",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "204": { "description": "Deleted." }, "409": { "$ref": "#/components/responses/Problem409" } }
      }
    },
    "/admin/categories/reorder": {
      "post": {
        "tags": ["Admin"], "summary": "Replace sortOrder sequence.",
        "security": [{ "keycloak": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ReorderIds" } } } },
        "responses": { "204": { "description": "Reordered." } }
      }
    },
    "/admin/categories/icon-uploads/initiate": {
      "post": {
        "tags": ["Admin"], "summary": "Presigned PUT URL for a category icon (≤256 KB).",
        "security": [{ "keycloak": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BannerInitiate" } } } },
        "responses": { "200": { "description": "OK." } }
      }
    },
    "/admin/tags": {
      "get": {
        "tags": ["Admin"], "summary": "Search tags with usage counts.",
        "security": [{ "keycloak": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/Cursor" }, { "$ref": "#/components/parameters/Limit" },
          { "name": "q", "in": "query", "schema": { "type": "string" } },
          { "name": "minUsage", "in": "query", "schema": { "type": "integer" } },
          { "name": "maxUsage", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": { "200": { "description": "OK." } }
      }
    },
    "/admin/tags/merge": {
      "post": {
        "tags": ["Admin"], "summary": "Merge several source tags into one target tag.",
        "security": [{ "keycloak": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MergeTags" } } } },
        "responses": { "204": { "description": "Merged." } }
      }
    },
    "/admin/tags/{id}": {
      "patch": {
        "tags": ["Admin"], "summary": "Rename a tag.",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UpdateTag" } } } },
        "responses": { "200": { "description": "OK.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Tag" } } } } }
      },
      "delete": {
        "tags": ["Admin"], "summary": "Delete an unused tag (usageCount must be 0).",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "204": { "description": "Deleted." }, "409": { "$ref": "#/components/responses/Problem409" } }
      }
    },
    "/admin/licenses": {
      "get": {
        "tags": ["Admin"], "summary": "List every license template.",
        "security": [{ "keycloak": [] }],
        "responses": { "200": { "description": "OK.", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/AdminLicense" } } } } } }
      },
      "post": {
        "tags": ["Admin"], "summary": "Create a license template.",
        "security": [{ "keycloak": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateLicense" } } } },
        "responses": { "201": { "description": "Created.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AdminLicense" } } } } }
      }
    },
    "/admin/licenses/{id}": {
      "patch": {
        "tags": ["Admin"], "summary": "Partial update.",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UpdateLicense" } } } },
        "responses": { "200": { "description": "OK.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AdminLicense" } } } } }
      },
      "delete": {
        "tags": ["Admin"], "summary": "Delete; rejected if any asset uses it.",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "204": { "description": "Deleted." }, "409": { "$ref": "#/components/responses/Problem409" } }
      }
    },
    "/admin/users": {
      "get": {
        "tags": ["Admin"], "summary": "Paginated user list.",
        "security": [{ "keycloak": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/Cursor" }, { "$ref": "#/components/parameters/Limit" },
          { "name": "q", "in": "query", "schema": { "type": "string" } },
          { "name": "isAdmin", "in": "query", "schema": { "type": "boolean" } }
        ],
        "responses": { "200": { "description": "OK." } }
      }
    },
    "/admin/users/{id}/promote": {
      "post": {
        "tags": ["Admin"], "summary": "Promote a user to admin (requires confirmation phrase).",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ConfirmAction" } } } },
        "responses": { "204": { "description": "Promoted." } }
      }
    },
    "/admin/users/{id}/demote": {
      "post": {
        "tags": ["Admin"], "summary": "Demote an admin (refuses last admin or bootstrap admin).",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ConfirmAction" } } } },
        "responses": { "204": { "description": "Demoted." }, "409": { "$ref": "#/components/responses/Problem409" } }
      }
    },
    "/admin/audit": {
      "get": {
        "tags": ["Admin"], "summary": "Filterable audit log read.",
        "security": [{ "keycloak": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/Cursor" }, { "$ref": "#/components/parameters/Limit" },
          { "name": "actorId", "in": "query", "schema": { "type": "string" } },
          { "name": "action", "in": "query", "schema": { "type": "string" } },
          { "name": "subjectType", "in": "query", "schema": { "type": "string" } },
          { "name": "subjectId", "in": "query", "schema": { "type": "string" } },
          { "name": "from", "in": "query", "schema": { "type": "string", "format": "date-time" } },
          { "name": "to", "in": "query", "schema": { "type": "string", "format": "date-time" } }
        ],
        "responses": { "200": { "description": "OK." } }
      }
    },
    "/admin/audit/{id}": {
      "get": {
        "tags": ["Admin"], "summary": "Audit entry detail incl. metadata.",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "OK.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AuditEntry" } } } } }
      }
    },
    "/admin/av/infected": {
      "get": {
        "tags": ["Admin"], "summary": "List versions flagged by the AV scanner.",
        "security": [{ "keycloak": [] }],
        "responses": { "200": { "description": "OK." } }
      }
    },
    "/admin/av/{versionId}/quarantine": {
      "post": {
        "tags": ["Admin"], "summary": "Archive the parent asset with reason = AV quarantine.",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "versionId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "204": { "description": "Quarantined." } }
      }
    },
    "/admin/av/{versionId}/acknowledge": {
      "post": {
        "tags": ["Admin"], "summary": "Mark a false positive — flips avStatus to CLEAN.",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "versionId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "204": { "description": "Acknowledged." } }
      }
    },
    "/admin/av/{versionId}/rescan": {
      "post": {
        "tags": ["Admin"], "summary": "Re-enqueue AV scan for every file in this version.",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "versionId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "204": { "description": "Enqueued." } }
      }
    },
    "/admin/analytics/platform": {
      "get": {
        "tags": ["Admin"], "summary": "Platform-wide downloads / publishes / new-users for a date range.",
        "security": [{ "keycloak": [] }],
        "parameters": [
          { "name": "from", "in": "query", "schema": { "type": "string", "format": "date" } },
          { "name": "to", "in": "query", "schema": { "type": "string", "format": "date" } }
        ],
        "responses": { "200": { "description": "OK." } }
      }
    },
    "/admin/analytics/assets": {
      "get": {
        "tags": ["Admin"], "summary": "Leaderboard by downloads/saves.",
        "security": [{ "keycloak": [] }],
        "parameters": [
          { "name": "sort", "in": "query", "schema": { "type": "string", "enum": ["downloads", "saves", "last7d", "last30d"] } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": { "200": { "description": "OK." } }
      }
    },
    "/admin/analytics/users": {
      "get": {
        "tags": ["Admin"], "summary": "Leaderboard by uploads + total downloads.",
        "security": [{ "keycloak": [] }],
        "parameters": [{ "name": "limit", "in": "query", "schema": { "type": "integer" } }],
        "responses": { "200": { "description": "OK." } }
      }
    },
    "/admin/queues": {
      "get": {
        "tags": ["Admin"], "summary": "Bull Board operational UI (admin only).",
        "security": [{ "keycloak": [] }],
        "responses": { "200": { "description": "HTML." }, "403": { "$ref": "#/components/responses/Problem403" } }
      }
    },
    "/admin/webhook-deliveries": {
      "get": {
        "tags": ["Admin"], "summary": "Recent n8n webhook delivery attempts.",
        "security": [{ "keycloak": [] }],
        "parameters": [
          { "name": "status", "in": "query", "schema": { "type": "string", "enum": ["success", "failure"] } },
          { "name": "type", "in": "query", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": { "200": { "description": "OK." } }
      }
    }
  }
}
